body {
	text-align: justify;
	font: 15px Arial, Helvetica, sans-serif;
	/*font-family: 'Enriqueta';*/
	font-size: 20px;
	color: #626262;
	background: #fff;
	/*background-image: url('images/background1.gif');*/
	margin: 0;
}

h1, h1 a, h2, h2 a, h3, {
	text-decoration: none;
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #111111;
}

h1 {
	letter-spacing: -1px;
	font-size: 1.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
	letter-spacing: -1px;
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

.hide {
	display: none;
}

IMG.displayed{
	display: block;
	margin-left: 200px;
}

#page {
	background: #AAAAAA;

}

#up {
	margin-left: 10px;
}

#down{
	margin-left: 300px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer p {
	clear: both;
	margin-bottom: 0px;
	padding: 10px 0 10px 0;
	background: #757575;
	text-align: center;
	font-size:1em;
	color: #BABABA;
	height: 20px;
}

#footer a{
	color: #712af7;
}

#table-wrapper {
  position:relative;
  border: 1px solid black;
}

#table-scroll {
  height:250px;
  overflow:auto;  
  /*margin-top:20px;*/
}

#table-wrapper table {
  width:100%;
    
}

#table-wrapper table * {
  background: #eed209;
  color:black;
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

th {
	border-bottom: 1px solid;
	border-right: 1px solid;
}

td.adjusted_closing {
	background: #ff0000 !important;
}

td.moving_average {
	background: #0e8e1b !important;
}

body#var_calculator_window {
	z-index: 3;
	background: #fff;
	text-align: center;
}

.button {
	width: 150px;
	height: 40px;
	border-radius: 10px;
	background: #777;
	font-family: 'Enriqueta';
	font-size: 20px;
}

#landing_page button {
	height: 50px;
	width: 120px;
	background-color: #eed209;
}

#landing_page input	{
	height: 25px;
	font-size: 19px;
}

#landing_page_form {
	margin-top: 20%;
	text-align: center;
}

#landing_page_form label {
	font-size: 20px;
}

.up_arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #41ed1e;
}

.down_arrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #ff0000;
}

input {
	border-radius: 10px;
	height: 25px;
	font-size: 15px;
}

table {
	width: 90%;
	margin: auto;
	font-family: 'Abel';
}

table th {
	position: sticky;
	top:0;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#pop_up_window {
	padding: 3% 20%;
	text-align: left;
}

#pop_up_window button {
	height: 35px;
}

.gtitle {
	font-size: 25px !important;
}

.content_block {
	width: 90%;
	margin: 0 auto;
}

body#var_calculator_window #button_div {
	margin-top: 10px;
}

body#var_calculator_window #button_div button{
	width: 120px;
}

table.var_listing td {
	min-width: 220px;
}

table.var_listing {
	border-spacing: 5px;
}
