<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <link href="/static/main.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
        {% block script %}{% endblock %}
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body id="{% block body_id %}{% endblock %}">
        {% block page_block %}
        {% endblock %}

        <div id="footer">
            <p>&copy; Donald James</p>
        </div>
    </body>
</html>