<div id="down">
    <form id="stats" method="post" action="/movingavgdata">
        <label for="windowsize">Window Size:</label>
        <input type="text" id="windowsize" name="windowSize"><br><br>
        <div class="block" id="buttons">
            <button name="button" class="button" type="submit" value="Amazon">Amazon</button>
            <button name="button" class="button" type="submit" value="Apple">Apple</button>
            <button name="button" class="button" type="submit" value="ALibaba">Alibaba</button>
            <button name="button" class="button" type="submit" value="Bitcoin">Bitcoin</button>
        </div>
    </form>
</div>