{% extends "_base.html" %}

{% block script %}
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script>
	var price = {{ data_dict.Price }};
	var movingavg = {{ data_dict.Movingavg }};
	var dates = {{ data_dict.Dates }};
	</script>
	<!--script async src="/static/plotly.js"></script-->
	<script src="/static/plotly.js"></script>

{% endblock %}

{% block title %}
    Display
{% endblock title %}

{% block page_block %}
	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
{% endblock page_block %}