{% extends "_base.html" %}

{% block title %}
	Value At Risk
{% endblock title %}

{% block body_id %}landing_page{% endblock %}

{% block page_block %}
	<table class="var_listing">
		<tr>
			<td>Data Used:</td>
			<td>{{ message.companyName }}</td>
		</tr>
		<tr>
			<td>Date:</td>
			<td>{{ message.date }}</td>
		</tr>
		<tr>
			<td>Window size:</td>
			<td>{{ message.windowSize }}</td>
		</tr>
		<tr>
			<td>Confidence Interval:</td>
			<td>{{ message.confdn_intrvl }}</td>
		</tr>
		<tr>
			<td>Sample Size(S):</td>
			<td>{{ message.sampleSize }}</td>
		</tr>
		<tr>
			<td>Resources(R):</td>
			<td>{{ message.resources }}</td>
		</tr>
		<tr>
			<td>Average VAR:</td>
			<td>{{ message.average_var_value }}</td>
		</tr>
		<tr>
			<td>Profit/Loss(in percentage):</td>
			<td>{{ message.profit_or_loss }}%</td>
		</tr>
		<tr>
			<td>Mean:</td>
			<td>{{ message.mean }}</td>
		</tr>
		<tr>
			<td>Standard deviation:</td>
			<td>{{ message.std }}</td>
		</tr>
		<tr>
			<td>VaR list for parallel request:</td>
			<td>{{ message.var_list }}</td>
		</tr>
	</table>
{% endblock page_block %}